.box{
	@include rem(16);
	display: block;
	border-radius: $global-radius;
	overflow: hidden;
}

.box--light{
	@extend .box;
	background: white;
	box-shadow: $box-shadow;
}
.box--grey{
	@extend .box;
	background-color: #F8F8F8;
	box-shadow: $box-shadow;
}
.box--dark{
	@extend .box;
	background: #222222;
	color: white;
}
.box__section{
	padding: $half-spacing-unit;
	border-bottom-color: $color-ui;
	border-style: none none solid;
	border-width: 0 0 1px;
	&:last-child{
		border-bottom-width: 0;
	}
}
.box__section-large{
	padding: $base-spacing-unit;
}
.box__head,
.box__foot{
	border-color: $color-ui;
	border-style: solid;
}

.panel__body{
	padding: em(16) em(21);
	& > *:last-child{
		margin-bottom: 0;
	}
}
.panel__head,
.panel__foot{
	padding: em(16) em(21);
	color: white;
}
.panel__head{
	border-bottom: 1px solid transparent;
}
.panel__foot{
	border-top: 1px solid transparent;
}

.box__head{
	border-width: 0 0 1px 0;
	padding: em(12);
}
.box__title{
	@include adjust-font-size-to(14px);
	margin-bottom: 0;
	& > a{
		color: $base-foreground-color;
		display: block;
	}
}
.box__foot{
	border-width: 1px 0 0 0;
}

.rule{
	color: $colur-ui-dark;
	display: block;
}

.scores{
	max-width: 600px;
	margin: auto;
}
.scores__accumulated{
	padding: em(36);
	margin-bottom: em(12);
}
.scores__team:first-child{
	& > *{
		margin-left: 12px;
	}
}
.scores__team:last-child{
	& > *{
		margin-right: 12px;
	}
}
.scores__tie{
	background-color: #1D1D1D;
	color: #BFC5C6;
}
.scores__bottom{
	position: relative;
	z-index: 1;
	margin-top: -12px;
	clear: left;
}

.side-text{
	vertical-align: middle;
	text-decoration: underline;
	margin: 0 4px;
	color: #999999;
}

.popup-block{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 0 8px rgba(black, 0.6);
}

.popup--confirm{
	max-width: 500px;
}

.panel--confirm{
	.panel__foot{
		border-color: #E6E6E6;
		background-color: #F2F2F2;
	}
}


.empty-text{
	line-height: 1.5;
}

.main-title,
.main-title a{
	color: inherit;
}