.btn{
	font-weight: $bold-font;
	padding-right: 2em;
	padding-left: 2em;
	&:active{
		@include transform(translateY(2px));
	}
}

.btn--success{
	@extend .btn;
	background: $color-btn-success;
	color: white;
	box-shadow: 0 4px darken($color-btn-success, 10%);
	&:active{
		@include transform(translateY(2px));
		box-shadow: 0 2px darken($color-btn-success, 10%);
	}
}

.btn--default{
	@extend .btn;
	background: #2D3336;
	color: white;
	box-shadow: 0 4px darken(#2D3336, 10%);
	&:active{
		@include transform(translateY(2px));
		box-shadow: 0 2px darken(#2D3336, 10%);
	}
}

.btn--simple{
	@extend .btn;
	border: 1px solid transparent;
	font-size: em(14);
	&:active{
		@include transform(translateY(0));
	}
}

.btn--simple-grey{
	@extend .btn--simple;
	background: #F8F8F8;
	border-color: darken(#F8F8F8, 10%);
	color: #778087;
	&.is-inactive{
		background: #e9eff3;
		cursor: default;
		color: ligthen(#778087, 5%);
	}
}