.dropdown{
	position: relative;
	cursor: pointer;
	z-index: 10;
	&:hover{
		.dropdown__drop{
			display: block;
		}
	}
}
.dropdown__drop{
	line-height: 1.2;
	text-align: left;
	list-style: none;
	margin: 0;
	position: absolute;
	border: 1px solid transparent;
	right: 0;
	top: 100%;
	border-radius: 0 0 $global-radius $global-radius;
	display: none;
	& > li{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: transparent;
		cursor: pointer;
		&:last-child{
			border-bottom-width: 0;
		}
		&.lone{
			padding: 22px 44px;
		}
		a{
			display: block;
			padding: 11px 22px;
			color: #323339;
		}
	}
}

.dropdown__drop--white{
	background-color: white;
	border-color: $color-ui;
	& > li{
		border-bottom-color: $color-ui;
		&:hover{
			background-color: #F7F7F7;
		}
	}
}

.dropdown__drop--notifications{
	width: 440px;
}