$top-height: 60px;
.price-box{
	text-align: center;
	position: relative;
	.box__body{
		display: table;
		height: 171px + $top-height;
		width: 100%;
		padding: 0 0 $top-height;
		& > *{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.box__foot{
		@include transition(all 0.2s ease-out); // multiple: comma-delimited
		-webkit-transform: translate3d(0,0,0);
		background: darken(white, 2.5%);
		position: absolute;
		width: 100%;
		bottom: ($top-height * -1) - 1;
		.app-points{
			height: $top-height;
			line-height: $top-height;
		}
		.details__bottom{
			padding: 12px;
		}
	}
	&:hover{
		.box__foot{
			bottom: 0;
		}
	}
	.rule{
		color: $color-ui;
	}
}

.app-points{
	@include rem(14);
	&.big{
		.app-points__price{
			@include rem(28);
			margin: 0 em(3, 14);
			vertical-align: middle;
		}
	}
}
.app-points__price{
	font-weight: $light-font;
}
.app-points__type{
	font-weight: $bold-font;
	&.bet{
		span{
			color: $color-bet;
		}
	}
	&.win{
		span{
			color: $color-win;
		}
	}
}
.bet{
	span{
		color: $color-bet;
	}
}
.win{
	span{
		color: $color-win;
	}
}