.rank-list{
	margin: 0;
	list-style: none;
}
.rank-box{
	margin-bottom: $half-spacing-unit;
	overflow: visible;
	>  *:last-child{
		margin-bottom: 0;
	}
	text-align: center;
	@media #{$small} {
		text-align: left;
	}
}

.rank-box--main{
	$space: ((116 / 2) + $base-spacing-unit + 5);
	margin-bottom: $base-spacing-unit;
	margin-top: $space;
	text-align: center;
	.rank-box__link,
	.rank-box__inner{
		padding: $base-spacing-unit;
	}
	.rank-box__image{
		margin-top: $space * -1;
		margin-bottom: $half-spacing-unit
	}
}

.rank-box__stats{
	text-align: center;
	@media #{$small} {
		text-align: right;
	}
}

.rank-box__link{
	padding: $half-spacing-unit $base-spacing-unit;
	display: block;
}

.list-with-number{
	counter-reset: list;
	> li{
		position: relative;
	}
	.number-item{
		counter-increment: list;
		display: inline-block;
		@include rem(14);
		width: em(34, 14);
		height: em(34, 14);
		line-height: em(27, 14);
		background-color: #222222;
		color: white;
		border: 4px solid #778188;
		border-radius: 100%;
		text-align: center;
		font-weight: 600;
		margin: auto;
		display: inline-block;
		&:after{
			content: counter(list);
		}
	}
	>	*:first-child .number-item{
			position: absolute;
			left: $base-spacing-unit;
			top:0;
			bottom: 0;
			margin: auto;
			border-color: #1F8B4D;
			background-color: #2DCC70;
	}
}