.scoreboard{
	@extend .nav;
	text-align: center;
	padding: em(20) 0;
	margin-bottom: $half-spacing-unit;
}
.scoreboard__item{
	padding: em(6) em(36);
	border-left: 1px solid $color-ui;
	width: 50%;
	float: left;
	@media screen and (max-width: $small-screen - 1) {
		&:nth-child(odd){
			border-left-width: 0;
		}
	}
	@media #{$small} {
		width: 33.3333%;
		&:nth-child(3n+1){
			border-left-width: 1px;
			border-left-width: 0;
		}
	}
	@media #{$extra-large} {
		width: auto;
		float: none;
		&:nth-child(3n+1){
			border-left-width: 1px;
		}
		&:first-child{
			border-left-width: 0;
		}
	}
}
.scoreboard__title{
	display: block;
}
.scoreboard__score{
	font-weight: $light-font;
	@include adjust-font-size-to(28px, 2, 14px);
}
