.secondary-body{
  background-color: #DDE3E7;
}
.top-area{
  height: 180px;
  padding-top: 52px;
  background-color: #E9EFF3;
  border-bottom: 1px solid #D1D7DA;
}

.welcome-box{
  max-width: 760px;
  margin: auto;
}

.welcome__header{
  background-color: #222;
  color: white;
  padding-top: $base-spacing-unit * 2.5;
  padding-bottom: $base-spacing-unit * 2.5;
}

.welcome__title{
  font-weight: 300;
  font-size: em(28);
}

.box-table{
  display: table;
  width: 100%;
  height: 100%;
}

.box-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.empty-event{
  height: 442px;
}

.secondary-nav{
  color: white;
  padding-right: $half-spacing-unit;
  li:after{
    content: " | ";
  }
  li:last-child:after{
    content: "";
  }
}