.shepherd-element--small.shepherd-theme-arrows{
  max-width: 400px;
}

.shepherd-element--dark.shepherd-theme-arrows{
  .shepherd-content{
    background-color: #222222;
    color: #D7D7D7;
    -webkit-filter: none;
    box-shadow: 7px 7px 0 rgba(black, 0.15);
    &:before{
      border-right-color: #222222 !important;
    }
  }
}

.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button{
  background-color: #3C4043;
  box-shadow: 0 3px #323639;
  text-transform: inherit;
  letter-spacing: 0;
  font-size: inherit;
}

.shepherd-layer{
  background-color: rgba(black, 0.2);
  -webkit-filter: blur(2px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shepherd-element,
.shepherd-enabled {
  z-index: 102;
}