.side-area{
	@include rem(14);
	background-color: $dark-area-background-color;
	color: $dark-area-foreground-color;
	overflow-y: auto;
}

%darkish-area{
	background: $secondary-dark-area-background-color;
	border-top-color: darken($secondary-dark-area-background-color, 3%);
	border-bottom-color: lighten($secondary-dark-area-background-color, 6%);
}

.user-area{
	@extend %darkish-area;
	border-width: 1px 0;
	border-style: solid;
	margin-bottom: 0;
	position: relative;
}
.user-area__image{
	@include rem(14);
	@include size(em(59, 14));
	border-radius: $circular-radius;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	border: 4px solid lighten($color-grey-darkish, 10%);
	img{
		border-radius: 100%;
	}
}
.user-area__image--light{
	border-color: white;
}
.user-area__image--large{
	@include size(em(116));
	border-width: 8px;
}
.user-area__text{
	padding-top: $half-spacing-unit / 2;
	span{
		color: $color-grey-lightish;
	}
}
.user-area__config{
	position: absolute;
	right: $half-spacing-unit;
	top: $half-spacing-unit / 2;
	color: $color-grey-lightish;
}

.level-area{
	background: $dark-area-background-color;
	display: block;
	height: 4px;
	position: relative;
}
.level-area__line{
	@include background(linear-gradient(to top, darken($primary-color, 5%), lighten($primary-color, 20%))); // multiple: comma-delimited
	box-shadow: $regular-shadow;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50%;
}
.level-area__text{
	@include adjust-font-size-to(14px);
	color: $color-grey-lightish;
	& > *:last-child{
		float: right;
	}
}

.main-logo{
	font-size: em(22);
	margin-bottom: 0;
	border-bottom: 1px solid lighten($secondary-dark-area-background-color, 5%);
	& > a{
		color: $dark-area-foreground-color;
		padding: $half-spacing-unit;
		display: block;
		@include transition(color 0.3s ease-out 0.2s); // multiple: comma-delimited
		&:hover{
			color: $color-orange;
			span{
				color: $dark-area-foreground-color;
			}
		}
	}
	span{
		color: $primary-color;
		@include transition(color 0.5s ease-out); // multiple: comma-delimited
	}
}

.main-logo--secondary{
	border-bottom: 0;
	padding: 0;
}

.main-nav{
	& > ul{
		@extend .nav;
		@extend .nav--stacked;
		@extend .nav--block;
		margin-bottom: 0;
	}
}

.main-nav__link{
	@extend %darkish-area;
	color:  $dark-area-foreground-color;
	font-weight: $bold-font;
	display: block;
	border-width: 1px 0;
	border-style: solid;
	text-shadow: $regular-shadow;
	transition: background 0.2s ease-out;
	& > i{
		color: $primary-color;
		margin-right: 3px;
	}
	&.is-active,
	&:hover,
	&:focus{
		background: $dark-area-background-color;
	}
}


$colors: (
	$color-yellow,
	$color-orange,
	$color-red,
	$color-green,
	$color-blue
);

@each $color in $colors{
	$index: index($colors, $color);
	.filter__list li:nth-child(#{$index}){
		.custom-input__fake{
			color: #{$color};
		}
	}
}

.mobile-sidebar-button{
	@include transition(all 0.4s ease-out);
	background: #000;
	background: rgba(0,0,0,0.9);
	font-size: 10px;
	width: auto;
	height: auto;
	padding: em(16, 10) em(8, 10);
	span{
		position: relative;
		display: block;
		&:before,
		&:after,
		&{
			@include transition(all 0.4s ease-out);
			background-color: #fff;
			height: em(2, 10);
			width: em(20, 10);
		}
		&:before,
		&:after{
			position: absolute;
			margin-top: -.6em;
			left: 0;
			content: " ";
		}
		&:after{
			margin-top: .6em;
		}
	}
	&.is-active{
		span{
			background: transparent;
			&:after{
				@include transform(rotate(45deg) translate(em(-4, 10), em(-5, 10)));
			}
			&:before{
				@include transform(rotate(-45deg) translate(em(-4, 10), em(4, 10)));
			}
		}
	}
}