.top-bar{
	background: white;
	height: em(60);
	display: table;
	width: 100%;
}

.top-bar__item,
.top-bar__search,
.top-bar > *,
.top-bar  form{
	height: 100% !important;
}
.top-bar__search{
	width: 100% !important;
}
.top-bar__item{
	border-right: 1px solid $color-ui;
	display: table-cell;
	vertical-align: top;
	&:last-child{
		border-right: 0;
	}
}
.top-bar__item--small{
	@extend .top-bar__item;
	overflow: visible;
	text-align: center;
	width: em(60);
	color: $color-grey-darkish;
	& > *:first-child{
		display: block;
		line-height: 60px;
	}
	&.icon-exit{
		color: #BFC5C8;
	}
}

.top-bar__search{
	border: 0;
	height: 100%;
	font-size: em(24);
	padding: em(8, 24);
	font-family: $serif-font-family;
	&:focus{
		outline: 0 none;
	}
	&::-webkit-input-placeholder {
   		color: #BFC5C8;
   		font-size: em(22, 24);
	}

	&:-moz-placeholder {
	   color: #BFC5C8;
	   font-size: em(22, 24);  
	}

	&::-moz-placeholder {
	   color: #BFC5C8;
	   font-size: em(22, 24);  
	}

	&:-ms-input-placeholder {  
	   color: #BFC5C8;
	   font-size: em(22, 24);  
	}
}

.notifications{
	position: relative;
	display: inline;
	line-height: 1;
	.notification-number{
		position: absolute;
		bottom: 80%;
		left: 80%;
	}
}

.notification-number{
	@include size(14px);
	background: $color-danger;
	border: 1px solid darken($color-danger, 10%);
	font-size: 10px;
	display: block;
	line-height: 1;
	color: white;
	border-radius: 1000px;
	text-align: center;
}