.versus,
.versus__side,
.versus__vs{
  display: inline-block;
  vertical-align: middle;
  font-weight: $bold-font;
}
.versus{
  padding: 24px 0;
  position: relative;
  width: 230px;
  text-align: center;
  &:last-child{
    .versus__content{
      border-right-width: 0;
    }
  }
  .no-touch &{
    &:hover{
      .versus__content{
        -webkit-filter: blur(4px);
      }
      .versus__extra{

        @include opaque;
      }
    }
  }
}
.versus__content{
  @include transition(all 0.1s ease-out);
  border-right: 1px solid $color-ui;
}
.versus__side{
  margin-bottom: 0;
  text-align: center;
  & > img{
    margin-bottom: 6px;
    display: inline-block;
  }
}
.versus__vs{
  margin: -24px 3px 0;
}
.versus__extra{
  @include transparent;
  @include transition(opacity 0.2s ease-out);
  padding: 24px;
  font-weight: $regular-font;
  background: rgba(black, 0.90);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  a,&{
    color: white;
  }
  a{
    font-weight: $bold-font;
    text-decoration: underline;
    font-size: em(14);
  }
  .touch &{
    display: none !important;
  }
}

.versus__extra-touch{
  display: none;
  margin-top: $half-spacing-unit;
  .touch &{
    display: block;
  }
}
.versus__extra-title{
  @include adjust-font-size-to(14px);
  margin-bottom: em(6);
}
.versus__extra-text{
  color: $color-grey-lightish;
}

.match,
.match__item{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.match{
  white-space: nowrap;
  text-align: center;
  width: em(150, 14);
}

.match__item{
  height: 40px;
  > img{
    max-width: none;
    max-height: 40px;
  }
  &:first-child{margin-right: $half-spacing-unit;}
  &:last-child{margin-left: $half-spacing-unit;}
}

.match-board__item{
  display: inline-block;
  position: relative;
  &:first-child{
    text-align: right;
    padding: $half-spacing-unit $base-spacing-unit * 3 $half-spacing-unit 0;
    border-right: 1px solid $color-ui;
    &:after{
      content: "VS";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1.25em;
      margin: auto;
      text-align: center;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      border-radius: 100%;
      background-color: #F8F8F8;
      border: 1px solid $color-ui;
      font-weight: bold;
    }
  }
  &:last-child{
    text-align: left;
    padding: $half-spacing-unit 0 $half-spacing-unit $base-spacing-unit * 3;
  }
}