html,
body{
  height: 100%;
}
html{
  background: $base-background-color;
  color: $base-foreground-color;
  font-size: 100%;
  @media only screen and (max-width: "#{$small-screen}") {
    @include adjust-font-size-to($font-size * 1px);
  }
}
body{
  font-family: $sans-font-family;
  font-weight: $regular-font;
  @include adjust-font-size-to(14px);
}

a{
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  @include rem(12, margin-bottom);
}

li p{
  font-size: inherit;
}

.main-title{
 @include rem(24);
  font-weight: $light-font;
  padding-left: 12px;
  &.bordered{
    @include trailing-border(1px, 0.5, 24px);
    border-width: 1px;
    border-color: #DDE3E7;
  }
}
.main-title--separated{
  @extend .main-title;
  & > *:first-child{
    color: #BFC5C6;
  }
}

img{
  vertical-align: middle;
}
::selection {
  background: $primary-color;
  }
::-moz-selection {
  background: $primary-color;
}





.table{
  @include rem(14);
  width: 100%;
  font-weight: 600;
  margin-bottom: em($base-spacing-unit);
}

.table{
  & > tfoot{
    text-align: left;
  }
  & > thead,
  & > tbody,
  & > tfoot{
    & > tr > td,
    & > tr > th{
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: middle;
      border-top: 1px solid #DDD;
    }
  }
  & > caption + thead,
  & > colgroup + thead,
  & > thead:first-child {
    & > tr:first-child {
      & > th,
      & > td {
        border-top: 0;
      }
    }
  }
}

.table--condensed {
  & > thead,
  & > tbody,
  & > tfoot {
    & > tr {
      & > th,
      & > td {
        padding: 4px;
      }
    }
  }
}

.table--striped {
  & > tbody > tr:nth-child(odd) {
    & > td,
    & > th {
      background-color: #F8F9FA;
    }
  }
}

.table-responsive {
  margin-bottom: $base-spacing-unit;
  & > .table {
      margin-bottom: 0;
  }
  @media screen and (max-width: $large-screen - 1) {
    width: 100%;
    margin-bottom: ($base-spacing-unit * 0.75);
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $color-ui;
    -webkit-overflow-scrolling: touch;

    & > .table {
      margin-bottom: 0;

      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    & > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      & > thead,
      & > tbody,
      & > tfoot {
        & > tr {
          & > th:first-child,
          & > td:first-child {
            border-left: 0;
          }
          & > th:last-child,
          & > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      & > tbody,
      & > tfoot {
        & > tr:last-child {
          & > th,
          & > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}

.table--small{
  & > thead,
  & > tbody,
  & > tfoot{
    & > tr > td,
    & > tr > th{
      padding: 4px 8px;
    }
  }
}

.table--unbordered{
  & > thead,
  & > tbody,
  & > tfoot{
    & > tr > td,
    & > tr > th{
      border-top-width: 0;
    }
  }
}

.table--striped{
  box-shadow: $box-shadow;
  td, th{
    background: white;
  }
  tbody tr:nth-of-type(odd) td,
  tbody tr:nth-of-type(odd) th{
    background: #F8F8F8;
  }
}

.table--bordered{
  th, td{
    border-color: $color-ui;
  }
}

.table--horizontal-bordered{
  @extend .table--bordered;
  th, td{
    border-width: 1px 0;
  }
  tr:last-child{
    td{
      border-bottom: 0;
    }
  }
}