
[class^="icon-"], [class*=" icon-"], .icon {
	font-family: 'betbox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
	content: "\e610";
}
.icon-dolar:before {
	content: "\e60f";
}
.icon-dot-circle:before {
	content: "\e600";
}
.icon-x-mark:before {
	content: "\e601";
}
.icon-info:before {
	content: "\e602";
}
.icon-graph:before {
	content: "\e603";
}
.icon-glass:before {
	content: "\e604";
}
.icon-gift:before {
	content: "\e605";
}
.icon-exit:before {
	content: "\e606";
}
.icon-dashboard:before {
	content: "\e607";
}
.icon-cog:before {
	content: "\e608";
}
.icon-circle:before {
	content: "\e609";
}
.icon-check:before {
	content: "\e60a";
}
.icon-calendar:before {
	content: "\e60b";
}
.icon-bell:before {
	content: "\e60c";
}
.icon-arrow-right:before {
	content: "\e60d";
}
.icon-arrow-left:before {
	content: "\e60e";
}

.iconic{
	font-size: em(36);
	color: #BFC5C8;
	&:before,
	&:after{
		content: '-';
		display: inline-block;
	}
}