@font-face {
    font-family: 'open-sans';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'open-sans';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'open-sans';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'betbox';
    src:url('fonts/betbox.eot');
    src:url('fonts/betbox.eot?#iefix') format('embedded-opentype'),
        url('fonts/betbox.ttf') format('truetype'),
        url('fonts/betbox.woff') format('woff'),
        url('fonts/betbox.svg#betbox') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster';
    src: url('fonts/lobster-webfont.eot');
    src: url('fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster-webfont.woff') format('woff'),
         url('fonts/lobster-webfont.ttf') format('truetype'),
         url('fonts/lobster-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bree';
    src: url('fonts/breeserif-regular-webfont.eot');
    src: url('fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/breeserif-regular-webfont.woff') format('woff'),
         url('fonts/breeserif-regular-webfont.ttf') format('truetype'),
         url('fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}