$sidebar-width: 		244;

.main-content{
	@include transition(all 0.4s ease-out);
	padding-left: 0;
	position: relative;
	overflow-x: hidden;
	@media #{$large} {
		@include rem($sidebar-width, padding-left);
	}
}
.side-area{
	@include transition(all 0.4s ease-out); // multiple: comma-delimited
	position: fixed;
	height: 100%;
	width: em(244, 14);
	left: 0;
	z-index: 100;
	@include rem(($sidebar-width * -1), margin-left);
	.is-active &{
		@include rem($sidebar-width, left);
	}
	@media #{$large} {
		@include rem($sidebar-width, left);
	}
}

.main-container{
	padding: em(12);
}

.mobile-sidebar-button{
	display: none;
	@include rem($sidebar-width, left);
	top: 0;
	z-index: 10;
	&.is-active{
		@include rem($sidebar-width, left);
	}
	@media only screen and (max-width: "#{$large-screen}"){
		position: fixed;
		left: 0;
		display: block;
	}
}