@function strip-units($val) {
  @return ($val / ($val * 0 + 1));
}

@function em($pxval, $base: $em-base) {
  @if not unitless($pxval) {
      $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
      $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}

//colors

$color-grey: 								#E9EFF3;
$color-grey-light:	 						#F8F8F8;
$color-grey-lighter: 						#EEEEEE;
$color-grey-lightish: 						#778087;//some texts
$color-grey-darkish: 						#323639;//texts-sidebar
$color-grey-dark: 							#222222;

$color-green: 								#31CE73;
$color-red: 								#E95748;
$color-orange: 								#F39B13;
$color-blue: 								#3598DC;
$color-yellow: 								#F1C40F;


$base-background-color: 					$color-grey;
$base-foreground-color: 					$color-grey-darkish;

$dark-area-background-color: 				$color-grey-dark;
$secondary-dark-area-background-color: 		$color-grey-darkish;
$dark-area-foreground-color: 				#ffffff;

$primary-color: 							$color-green;

$color-success: 							$color-green;
$color-danger: 								$color-red;
$color-warning: 							$color-orange;
$color-info: 								$color-blue;

$color-ui: 									$color-grey-lighter;
$colur-ui-dark: 							#DDE3E7;

$color-bet: 								$color-green;
$color-win: 								$color-orange;

$color-btn-success: 						$color-green;

$color-brand: 								$color-green;

$base-font-size: 							14px !default;
$base-line-height: 							21px !default;

$em-base: 									$base-font-size;

$font-size: 								14;

$h1-size:           						34px!default; // .alpha
$h2-size:           						26px!default; // .beta
$h3-size:           						24px!default; // .gamma
$h4-size:           						22px!default; // .delta
$h5-size:           						20px!default; // .epsilon
$h6-size:           						16px!default; // .zeta

$sans-font-family: 							'open-sans', arial, helvetica, 'sans-serif';
$serif-font-family: 						'bree', 'serif';
$icon-font-family: 							'betbox';
$light-font: 								300;
$regular-font: 								400;
$bold-font: 								700;
$regular-shadow: 							0 1px 2px rgba(black, 0.25);
$box-shadow: 								1px 1px 1px rgba(black, 0.10);

$global-radius: 							4px;
$circular-radius: 							1000px;

// Media Queries
// --------------------------------------------------

//general widths used for media queries

// Media Queries

$small-screen:                480px!default;
$medium-screen:               768px!default;
$large-screen:                1024px!default;
$extra-large-screen:          1280px!default;

$screen:                      "only screen";
$small:                       "only screen and (min-width: #{$small-screen})";
$medium:                      "only screen and (min-width: #{$medium-screen})";
$large:                       "only screen and (min-width: #{$large-screen})";
$extra-large:                 "only screen and (min-width: #{$extra-large-screen})";
$landscape:                   "only screen and (orientation: landscape)";
$portrait:                    "only screen and (orientation: portrait)";


/*
  csswizardry grid defaults overide
  FOR THIS GRID IF YOU NEED THE GRID ITEMS HTML TO BE SPACELESS, IN HAML USING '>' AT THE END OF THE TAG
*/

$gutter:                24px!default;

$breakpoints: (
    'extra' '(min-width: #{$extra-large-screen})',
    'large' '(min-width: #{$large-screen})',
    'medium' '(min-width: #{$medium-screen})',
    'small' '(min-width: #{$small-screen})'
)!default;

$breakpoint-has-widths: ('small', 'medium', 'large', 'extra')!default;
$breakpoint-has-push:   ('small', 'medium', 'large', 'extra')!default;
$breakpoint-has-pull:   ('small', 'medium', 'large', 'extra')!default;
