@include establish-baseline;
*,
*:after,
*:before{@include box-sizing(border-box);}
html,
body{
	height: 100%;
}
html{
	background: $base-background-color;
	color: $base-foreground-color;
}
body{
	background-image: url('#{$image-path}marketing-bg.jpg');
	font-family: $sans-font-family;
	font-weight: $regular-font;
	color: #444444;
}
a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	@include rem(10, margin-bottom);
	margin-top: 0;
}

img{
	vertical-align: middle;
}
.main-bg{
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-image: url('#{$image-path}main-bg.jpg');
	background-color: black;
	background-attachment: scroll;
	background-repeat: no-repeat;
}
::selection {
	background: $primary-color;
	}
::-moz-selection {
	background: $primary-color;
}


