.text-right{text-align: right;}
.text-center{text-align: center;}
.float-right{float: right;}
.bold-font{font-weight: $bold-font}
.light-font{font-weight: $light-font}

@function strip-units($number){
  @return ($number / ($number * 0 + 1));
}

@function to-rem($val){
  @return ((strip-units($val)/strip-units($base-font-size)) * 1rem);
}

@mixin rem($val, $prop: font-size){
  #{$prop}: $val * 1px;
  #{$prop}: to-rem($val);
}

$colores: (
	'.color-success' $color-success,
	'.color-danger' $color-danger,
	'.color-warning' $color-warning,
	'.color-info' $color-info
);

@each $color in $colores{
	$name: nth($color, 1);
	$clr: nth($color, 2);
	#{$name}{
		color: #{$clr};
	}
}