.wrapper{
	max-width: 960px;
	margin: auto;
	padding: 0 10px;
	& > *:last-child{
		margin-bottom: 0;
	}
/* 	& > *:first-child{
	margin-top: 0;
} */
}
.outer-container{

}
.inner-container{
	max-width: 1070px;
	margin: auto;
	padding: 0 10px;
	box-shadow: 20px 0 0 rgba(black, 0.05),
				-20px 0 0 rgba(black, 0.05);
	& > :last-child{
		margin-bottom: 0;
	}
	@media #{$small} {
		padding: 0 20px;
	}
	@media #{$medium} {
		padding: 0 55px;
	}
}

.main-content{
	min-height: 100%;
	margin-bottom: -130px;
	&:after{
		content: "";
		display: block;
		height: 130px;
	}
}

.main-content{
	@media #{$small} {
		padding-top: 88px;
	}
}

.main-header{
	@media #{$small} {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}