.alert{
	text-align: center;
	padding: 7px 7px;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.close-button{
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	font-size: 22px;
	font-weight: bold;
	color: inherit;
}

.alert__close{
	@extend .close-button;
	position: absolute;
	right: 5px;
	top: 5px;
}

$colors: (
	$color-orange 'warning',
	$color-red 'error',
	$color-green 'success',
	$color-blue 'info'
);

@each $color in $colors{
	$color-def: nth($color, 1);
	$color-name: nth($color, 2);
	.alert--#{$color-name}{
		@extend .alert;
		background-color: #{$color-def};
		border-color: lighten($color-def, 10%);
	}
}