.panel{
	display: block;
	border-radius: $global-radius;
	overflow: hidden;
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
}

.panel--light{
	@extend .panel;
	background: white;
	box-shadow: $box-shadow;
}
.panel--grey{
	@extend .panel;
	background-color: #F8F8F8;
	box-shadow: $box-shadow;
}
.panel--dark{
	@extend .panel;
	background: #222222;
	color: white;
}

.panel--transparent{
	@extend .panel;
	background-color: rgba(black, 0.75);
	border-color: #222222;
	color: white;
	[type="email"],
	[type="number"],
	[type="password"],
	[type="search"],
	[type="tel"],
	[type="text"],
	[type="url"],
	[type="color"],
	[type="date"],
	[type="datetime"],
	[type="datetime-local"],
	[type="month"],
	[type="time"],
	[type="week"]{
		background-color: rgba(white, 0.05);
		border-color: #444444;
	}
}
.panel__body{
	padding: em(21) em(40);
	& > *:last-child{
		margin-bottom: 0;
	}
}
.panel__head,
.panel__foot{
	padding: em(21) em(40);
	color: white;
}
.panel__body--full{
	@extend .panel__body;
	padding: em(40);
}
.panel__title{
	color: white;
	@include adjust-font-size-to(32px);
	font-weight: 300;
	margin: 0;
	& > a{
		color: $base-foreground-color;
		display: block;
	}
}

.panel--medium{
	max-width: 460px;
	margin: auto;
	margin-top: 4.5%;
}

.push--special{
	margin-top: 4.5%;
}

.panel--scroll-content{
	height: 490px;
	overflow-y: auto;
}

.rule{
	color: $colur-ui-dark;
	display: block;
}


.push--bottom{margin-bottom: 21px !important;}