.btn{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: $bold-font;
	padding-right: 2em;
	padding-left: 2em;
}

@mixin button-variant($background, $border, $color: white, $gradient: true) {
  @include transition(all 0.2s linear);
  border-color: $border;
  color: $color;
  @if $gradient == true {
    @include background(linear-gradient(to top, $background, lighten($background, 8%)));
  } @else {
    background-color: $background;
  }

  &:hover,
  &:focus,
  &:active,
  &.is-active,
  &.is-open{
    @if $gradient == true {
      @include background(linear-gradient(to top, $background, darken($background, 4%)));
    } @else {
      background-color: darken($background, 4%);
    }
    color: $color;
  }
  &:active,
  &.is-active{
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
    @if $gradient == true {
      @include background(linear-gradient(to top, $background, darken($background, 8%)));
    } @else {
      background-image: none;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
      &,
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: $background;
            border-color: $border;
    }
  }
}



@mixin button-shadow($color) {
	@extend .btn;
	background: $color;
	color: white;
	box-shadow: 0 4px darken($color, 10%);
	margin-bottom: 4px !important;
	&:active{
		@include transform(translateY(1px));
		box-shadow: 0 2px darken($color, 10%);
	}

}
.btn--success{
	@include button-shadow($color-btn-success);
}

.btn--default{
	@include button-shadow(#2D3336);
}

.btn--simple{
	@extend .btn;
	border: 1px solid transparent;
	font-size: em(14);
	font-weight: 600;
	&:active{
		@include transform(translateY(0));
	}
}

.btn--simple-grey{
	@extend .btn--simple;
	background: #F8F8F8;
	border-color: darken(#F8F8F8, 10%);
	color: #778087;
	&.is-inactive{
		background: #e9eff3;
		cursor: default;
		color: ligthen(#778087, 5%);
	}
}

.btn--facebook{
	@extend .btn--simple;
	background-color: #4C699E;
	color: white;
}

.btn--twitter{
	@extend .btn--simple;
	background-color: #1DAEE3;
	color: white;
}

.btn--gplus{
	@extend .btn--simple;
	background-color: #DA573B;
	color: white;
}

.btn--block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}