.etabs{
	@extend .nav;
	& > li{
		@include adjust-font-size-to(14px);
		&.is-active{
			font-weight: $bold-font;
			& > a{
				color: #323339;
				border-bottom: 4px solid $color-brand;
			}
		}
		& > a{
			color: #778087;
			padding: 0 6px;
		}
		&:after{
			content: "|";
		}
		&:last-child:after{
			content: "";
		}
	}
}

.etabs--light{
	& > li{
		&.is-active{
			font-weight: $bold-font;
			& > a{
				color: white;
				border-bottom: 4px solid $color-brand;
			}
		}
	}
}