@mixin custom-input($normal-icon, $checked-icon){
	@extend .custom-input;
	.custom-input__fake{
		@extend #{$normal-icon};
	}

	.custom-input__input:checked + .custom-input__fake{
		@extend #{$checked-icon};
	}
}

label{
	margin-bottom: em(8);
	display: inline-block;
	cursor: pointer;
	color: #666666;
}

[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"],
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"]{
	height: 35px;
	width: 100%;
	border: 1px solid $color-ui;
	padding: 0 11px;
	border-radius: $global-radius;
}

.form-group{
	margin-bottom: 14px;
}

.label--grey{
	color: #959598;
}

.cancel--button{
	text-decoration: underline;
	color: #323339;
}

.custom-input{
	@include rem(14);
	font-weight: $bold-font;
}

.custom-input--radio{
	@include custom-input('.icon-circle', '.icon-dot-circle');
}

.custom-input__input{
	width: 0;
	height: 1px;
	position: absolute;
	overflow: hidden;
	@include opacity(0);
}
.custom-input__fake{
	@extend .icon;
	display: inline-block;
	text-shadow: $regular-shadow;
}

.textfield--dark{
	background: darken(#222222, 4%);
	color: #fff;
	border: 0;
	border-radius: $global-radius / 2;
	box-shadow: 0 1px rgba(#fff, 0.10), inset 0 2px rgba(#000, 0.50);
	font-weight: $bold-font;
	width: 100%;
}

.textfield--big{
	@include rem(32);
	height: em(57, 32);
}