.horizontal-container{
	padding: $half-spacing-unit;
	margin-bottom: $half-spacing-unit;
	border: 1px solid darken($color-ui, 8%);
	border-width: 1px 0;
	& > *{
		margin-bottom: 0;
	}
}

.horizontal-container--dark{
	border-color: #222222;
}