.main-footer{
	text-align: center;
}
.footer-menu-area{
	background-color: #323639;
	padding: em(30) 0;
	&,
	& a{
		color:#929596;
	}
}

.footer-bottom-area{
	background-color: #222222;
	padding: em(15) 0;
	color: #595959;
}

.nav{
	margin: 0;
	list-style: none;
	padding: 0;
	& > li{
		display: inline-block;
		& > a{
			display: inline-block;
		}
	}
}

.nav--separated{
	& > li{
		&:after{
			content: "|";
			padding: 0 4px;
			margin: 0 4px;
		}
		&:last-child:after{
			content: none;
			padding: 0;
			margin: 0;
		}
	}
}