.main-header{
	background-color: black;
	overflow: hidden;
	padding: rhythm(1) 0;
	border-bottom: 1px solid rgba(white, 0.05);
	color: #595959;
	.main-logo{
		float: left;
	}
	.header-extra{
		float: right;
	}
}

.main-logo{
	@include adjust-font-size-to(24px);
	margin-bottom: 0;
	margin-top: 0;
	& > a{
		color: white;
		display: block;
		@include transition(color 0.3s ease-out 0.2s); // multiple: comma-delimited
	}
}