.scoreboard{
	@extend .nav;
	text-align: center;
	padding: em(20) 0;
	margin-bottom: $half-spacing-unit;
}
.scoreboard__item{
	padding: em(6) em(36);
	border-left: 1px solid $color-ui;
	&:first-child{
		border-left-width: 0;
	}
}
.scoreboard__title{
	display: block;
}
.scoreboard__score{
	font-weight: $light-font;
	@include adjust-font-size-to(28px, 2, 14px);
}
