.versus,
.versus__side,
.versus__vs{
	display: inline-block;
	vertical-align: middle;
	font-weight: $bold-font;
}
.versus{
	padding: 24px 0;
	position: relative;
	width: 230px;
	text-align: center;
	&:last-child{
		.versus__content{
			border-right-width: 0;
		}
	}
	&:hover{
		.versus__content{
			-webkit-filter: blur(4px);
		}
		.versus__extra{

			@include opaque;
		}
	}
}
.versus__content{
	@include transition(all 0.1s ease-out);
	border-right: 1px solid $color-ui;
}
.versus__side{
	margin-bottom: 0;
	text-align: center;
	& > img{
		margin-bottom: 6px;
	}
}
.versus__vs{
	margin: -24px 3px 0;
}
.versus__extra{
	@include transparent;
	@include transition(opacity 0.2s ease-out);
	padding: 24px;
	font-weight: $regular-font;
	background: rgba(black, 0.90);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	a,&{
		color: white;
	}
	a{
		font-weight: $bold-font;
		text-decoration: underline;
		font-size: em(14);
	}
}
.versus__extra-title{
	@include adjust-font-size-to(14px);
	margin-bottom: em(6);
}
.versus__extra-text{
	color: $color-grey-lightish;
}